body {
  background-color: #232323;
}
.square {
  background-color: red;
  padding-bottom: 30%;
  width: 30%;
  float: left;
  margin: 1.66%;
  border: 1px solid #c2c2c2;
}
#container {
  margin: 0 auto;
  max-width: 600px;
}
h1 {
  margin: 0 auto;
  color: #ffffff;
}
#stripe {
  padding: 10px 0;
  background-color: white;
  text-align: center;
}
.dis {
  display: none;
}
#dec {
  padding: 0 10%;
}
.img-rounded {
  border-radius: 25px;
}
